body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6d2a2acc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(213, 41, 41, 0.655);
}

h1 {
    text-align: center;
    box-shadow: 0 2px 5px rgba(48, 6, 6, 0.664);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #aaa;
}

.delete-btn {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}
#add-btn{
    color: blue;
    box-shadow: 0 2px 5px rgba(20, 1, 1, 0.655);

}